<br><br><br><br><br><br><br>
<link href="addBlog.css" rel="stylesheet" id="style">
<div class="container" ng-controller="ForumController">
  <div class="row">

    <div class="main">

      <h3>Update Forum</h3>
      
      <div class="login-or">
        <hr class="hr-or">
        <span class="span-or">**</span>
      </div>

      <form role="form">
       <div class="form-group">
          <label for="forumId">Forum Id</label>
          <input type="text" ng-model="forum.forumId" class="form-control" id="forumId" required readonly>
        </div>
      
        <div class="form-group">
          <label for="forumName">Forum Name</label>
          <input type="text" ng-model="forum.forumName" class="form-control" id="forumName" required>
        </div>
        <div class="form-group">
          
          <label for="forumContent">Forum Content</label>
          <textarea cols="40" rows="5" ng-model="forum.forumContent" class="form-control" id="forumContent" required></textarea>
        </div>
        
          
          <button type="submit" ng-click="updateForum()" class="btn btn btn-primary">
          Update Forum
        </button>
        </div>
        </form>
      
    
    </div>
    
  </div>
  
</div>