<br><br><br><br><br><br><br>
<div class="container" ng-controller="ChatController">
			<form ng-submit="addMessage()" name="chatMsg">
					<label for="blogName">Text</label> 
					<textarea ng-model="message" cols="30" rows="3"></textarea>
					<span class="count" ng-bind="max - message.length">140</span>
					<button ng-disabled="message.length>140||message.length==0" class="btn btn-info">Send</button>
			</form>
	
	<p ng-repeat="message in messages|orderBy:'time':true">
		<time>{{message.time|date:'HH:MM'}}</time>
		<span>{{message.message}}</span>
	</p>
	
</div>