<br><br><br><br><br><br><br>
<link href="addBlog.css" rel="stylesheet" id="style">
<div class="container" ng-controller="BlogController">
  <div class="row">

    <div class="main">

      <h3>Add a Blog</h3>
      
      <div class="login-or">
        <hr class="hr-or">
      </div>

      <form role="form">
        <div class="form-group">
          <label for="blogName">Blog Name</label>
          <input type="text" ng-model="blog.blogName" class="form-control" id="blogName" required>
        </div>
        <div class="form-group">
          
          <label for="blogContent">Blog Content</label>
          <textarea cols="40" rows="5" ng-model="blog.blogContent" class="form-control" id="blogContent" required></textarea>
        </div>
        <div class="checkbox pull-right">
          <label>
          <button type="submit" ng-click="addBlog()" class="btn btn btn-primary">
          Add Blog
        </button>
             </label>
        </div>
        
      </form>
    
    </div>
    
  </div>
  
</div>