<br><br><br><br>
<div class="container" ng-controller="BlogController">
<link href="showblog.css" rel="stylesheet" id="style"></link>
<div class="container">
<div id="accordion">
    <div class="card" ng-repeat="blog in blogdata">
      <div class="card-header" ng-show="blog.status=='A'">
        <a class="card-link" data-toggle="collapse" href="/#{{blog.blogid}}">
          {{blog.blogName}}
        </a>
      </div>
      <div id="{{blog.blogid}}" class="collapse show" data-parent="#accordion">
        <div class="card-body">
         {{blog.blogContent}}
        </div>
      </div>
    &nbsp;&nbsp;&nbsp;&nbsp;      
      <img src="likeicon.png" width="40" height="40" ng-click="incrementLikes(blog.blogid)"/>{{blog.likes}}&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="dislikesicon.png" width="40" height="40" ng-click="incrementDisLikes(blog.blogid)"/>{{blog.dislikes}}
      
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span ng-show="blog.username==currentUser.username">
      <a ng-click="deleteBlog(blog.blogid)">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
        
        &nbsp;&nbsp;&nbsp;&nbsp;
        
      <a ng-click="editBlog(blog.blogid)">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
        
        </span>
         <a ng-click="showComment(blog.blogid)">
          <span class="glyphicon glyphicon-comment"></span>
        </a>
        
        
      </div>
</div>
</div>
</div>